body {
	background-image: linear-gradient(to right, #ffffff69, #ffffff69),
		url("/photos/bg.png");
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: url("/cursor/pointer.cur"), auto;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	-ms-overflow-style: none;
	scrollbar-width: none;
}
a {
	text-decoration: none;
}
a:hover {
	cursor: url("/cursor/link.cur"), auto;
}
.box {
	position: relative;
	width: 80%;
	height: 80%;
	margin: 0;
	background: whitesmoke;
	border-radius: 30px;
	animation: start 0.5s;
}
.content {
	position: relative;
	width: 100%;
	height: 100%;

	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
}
.profile {
	width: 90%;
	margin-top: 15%;

	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.info {
	position: relative;
	height: 40%;
	margin: 0px 20px;
	animation: insidestart 1s;

	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}
@media screen and (max-width: 816px) {
	.info {
		align-items: center;
		text-align: center;
	}
}
.avatar {
	border-radius: 100%;
	width: 45vw;
	height: 45vw;
	max-width: 85px;
	max-height: 85px;
	transition: 0.15;
	animation: insidestart 1s;
	margin: 2px;
}
.avatar:active {
	scale: 1.05;
}
.name {
	margin: 5px;
	font-family: title;
	font-size: 150%;
}
@media screen and (min-width: 816px) {
	.name {
		margin-top: 15px;
	}
}
.description {
	font-family: description;
	margin: 1px 5px;
	font-size: 90%;
	font-style: italic;
}
.buttons {
	position: relative;
	height: 65%;
	width: 85%;
	max-width: 450px;
	margin-top: 10px;

	display: flex;
	align-items: center;
	justify-content: space-evenly;
}
.button {
	position: relative;
	height: 15.3vw;
	width: 15.3vw;
	max-width: 60px;
	max-height: 60px;
	background: #fff;
	color: #000;
	border-radius: 20px;
	font-size: 145%;
	transition: color 0.2s, background 0.2s, scale 0.2s, text-shadow 0.2s;
	animation: insidestart 1s;

	display: flex;
	align-items: center;
	justify-content: center;
}
.button:hover {
	scale: 1.09;
}
.fb:hover {
	color: white;
	text-shadow: 0 0 10px rgba(255, 255, 255, 0.5),
		0 0 20px rgba(255, 255, 255, 0.5), 0 0 30px rgba(255, 255, 255, 0.5);
	background: #4267b2;
}
.tt:hover {
	color: white;
	text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white;
	background: black;
}
.ig:hover {
	color: white;
	text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white;
	background: #c13584;
}
.gh:hover {
	color: white;
	text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white;
	background: black;
}
@keyframes start {
	0% {
		scale: 0;
	}
	100% {
		scale: 1;
	}
}
@keyframes insidestart {
	0% {
		scale: 0;
	}
	50% {
		scale: 0;
	}
	65% {
		scale: 1;
	}
	100% {
		scale: 1;
	}
}
@font-face {
	font-family: title;
	src: url(/fonts/TiltNeon-Regular-VariableFontttf);
}
@font-face {
	font-family: description;
	src: url(/fonts/CutiveMono-Regular.ttf);
}
