::-webkit-scrollbar {
	width: 0 !important;
	display: none;
}
body {
	background-image: url("/SVG/wave-light.svg");
	transition: 0.5s;
	background-position: left center;
	animation: wave 45s linear 0s infinite alternate none;

	display: flex;
	align-items: center;
	justify-content: center;
	cursor: url("/cursor/pointer.cur"), auto;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
@keyframes wave {
	0% {
		background-position: left center;
	}
	100% {
		background-position: right center;
	}
}
body::before {
	position: absolute;
	content: "";
	background: #ffffff75;
	width: 100%;
	height: 100%;
	transition: 0.5s;
}
a {
	text-decoration: none;
}
a:hover {
	cursor: url("/cursor/link.cur"), auto;
}
.rotate {
	transform: rotate(360deg);
}
.box {
	position: relative;
	width: 80vw;
	height: 75vh;
	max-height: 600px;
	max-width: 900px;
	margin: 0;
	background: #f7fbfc;
	border-radius: 20px;
	transition: 0.5s;
	animation: start 0.5s;
}
.content {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: auto;
	overflow: -moz-scrollbars-none;
	-ms-overflow-style: none;

	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
}
.tools {
	position: relative;
	height: 15%;
	width: 100%;

	display: flex;
}
.sun,
.moon {
	position: absolute;
	height: 9.3vw;
	width: 9.3vw;
	max-width: 45px;
	max-height: 45px;
	background: #fff;
	color: #4e4d4d;
	border-radius: 100%;
	font-size: 120%;
	transition: 0.5s;
	animation: insidestart 1s, scale 0.1s;
	margin: 20px;
	visibility: visible;
	opacity: 1;

	display: flex;
	align-items: center;
	justify-content: center;
}
.moon {
	opacity: 0;
	visibility: hidden;
}
.profile {
	width: 90%;
	margin-top: 20px;

	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.info {
	position: relative;
	height: 40%;
	margin: 0px 20px;
	animation: insidestart 1s;

	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}
.avatar {
	border-radius: 100%;
	width: 45vw;
	height: 45vw;
	max-width: 85px;
	max-height: 85px;
	transition: 0.6s, scale 0.15s;
	animation: insidestart 1s;
	margin: 2px;
}
.avatar:active {
	scale: 1.05;
}
.name {
	margin: 5px;
	font-family: title;
	font-size: 150%;
	transition: 0.5s;
}
.description {
	font-family: description;
	margin: 1px 5px;
	font-size: 90%;
	font-style: italic;
	transition: 0.5s;
}
.buttons {
	position: relative;
	height: 65%;
	width: 85%;
	min-height: 150px;
	max-width: 450px;
	margin-top: 10px;

	display: flex;
	align-items: center;
	justify-content: space-evenly;
}
.button {
	position: relative;
	height: 15.3vw;
	width: 15.3vw;
	max-width: 60px;
	max-height: 60px;
	background: #fff;
	color: #4e4d4d;
	border-radius: 20px;
	font-size: 145%;
	transition: color 0.3s, background 0.3s, scale 0.2s, text-shadow 0.2s;
	animation: insidestart 1s;

	display: flex;
	align-items: center;
	justify-content: center;
}
/* Hover */
.button:hover {
	scale: 1.09;
}
/* Hover color */
.fb:hover {
	color: white !important;
	text-shadow: 0 0 10px rgba(255, 255, 255, 0.5),
		0 0 20px rgba(255, 255, 255, 0.5), 0 0 30px rgba(255, 255, 255, 0.5);
	background: #4267b2 !important;
}
.tt:hover {
	color: white !important;
	text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white;
	background: black !important;
}
.ig:hover {
	color: white !important;
	text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white;
	background: #c13584 !important;
}
.gh:hover {
	color: white !important;
	text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white;
	background: black !important;
}
/* Media */
@media screen and (max-width: 799px) {
	.info {
		align-items: center;
		text-align: center;
	}
}
@media screen and (min-width: 799px) {
	.name {
		margin-top: 15px;
	}
}
@media screen and (max-height: 448px) {
	.box {
		width: 100%;
		height: 100%;
		border-radius: 0;
	}
	body {
		margin: 0;
	}
}
@media screen and (max-width: 282px) {
	.box {
		width: 100%;
		height: 100%;
		border-radius: 0;
	}
	body {
		margin: 0;
	}
}
/* Animation */
@keyframes start {
	0% {
		scale: 0;
	}
	100% {
		scale: 1;
	}
}
@keyframes insidestart {
	0% {
		scale: 0;
	}
	50% {
		scale: 0;
	}
	65% {
		scale: 1;
	}
	100% {
		scale: 1;
	}
}
/* Fonts */
@font-face {
	font-family: title;
	src: url(/fonts/TiltNeon-Regular-VariableFont.ttf);
}
@font-face {
	font-family: description;
	src: url(/fonts/CutiveMono-Regular.ttf);
}
