.dark {
	background-image: url("/SVG/wave-dark.svg");
}
.dark::before {
	background: #00000075;
}
.dark .box {
	background: #363333;
}
.dark .button {
	color: #cccaca;
	background: #272121;
}
.dark .sun,
.dark .moon {
	background: #272121;
	color: #865dff;
}
.dark .sun {
	opacity: 0;
	visibility: hidden;
}
.dark .moon {
	opacity: 1;
	visibility: visible;
}
.dark .name {
	color: #fff;
}
.dark .description {
	color: #fff;
}
