.dark {
	background-image: url("/photos/bg.png");
}
.dark::before {
	background: #00000069;
}
.dark .box {
	background: #191919;
}
.dark .button {
	color: #fff;
	background: #0b0b0b;
}
.dark .darkmode {
	background: #0b0b0b;
	color: #fff;
	transform: rotate(720deg);
}
.dark .name {
	color: #fff;
}
.dark .description {
	color: #fff;
}
