.dark {
	background-image: url("/photos/bg.png");
}
.dark::before {
	background: #00000069;
}
.dark .box {
	background: #191919;
}
.dark .button {
	color: #fff;
	background: #0b0b0b;
}
.dark .sun,
.dark .moon {
	background: #0b0b0b;
	color: #fff;
}
.dark .sun {
	scale: 0;
	visibility: hidden;
}
.dark .moon {
	scale: 1;
	visibility: visible;
}
.dark .name {
	color: #fff;
}
.dark .description {
	color: #fff;
}
