* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	overflow: hidden;
}
body {
	background: url(../images/bg.jpg) center;
	background-size: cover;
	font-family: manh;
	color: #f5f5f5;
	overflow: hidden;
	cursor: url("/cursor/pointer.cur"), auto;
	padding: 20px;

	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
wave {
	position: absolute;
	background: url(../svg/wave1.svg) repeat;
	background-position: left;
	background-repeat: no-repeat;
	width: 100%;
	height: 250px;
	bottom: 0px;
	animation: wave 30s linear 0s infinite alternate none;

	display: block;
}
@keyframes wave {
	0% {
		background-position: left;
	}
	100% {
		background-position: right;
	}
}
.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.container .top {
	position: relative;
	height: 35vh;
	top: 0px;

	display: flex;
	justify-content: center;
	align-items: center;
}
.container .top #counter {
	position: relative;
	transition: transform 0.5s, opacity 0.3s;

	display: flex;
	justify-content: center;
	align-items: center;
}
.container .top #counter.hide {
	position: absolute;
	opacity: 0;
	transform: translateX(-70vw);
}
.container .top #counter .bg {
	position: absolute;
	max-height: 260px;
	height: 51vmin;
	max-width: 260px;
	width: 51vmin;
	background: #fff;
	border-radius: 100%;
	cursor: url("/cursor/link.cur"), auto;

	display: flex;
	justify-content: center;
	align-items: center;
}
.container .top #counter .bg .process {
	position: absolute;
	max-height: 235px;
	height: 46vmin;
	max-width: 235px;
	width: 46vmin;
	background: conic-gradient(transparent 3.6deg, #fff 0deg);
	border-radius: 100%;
	transition: 0.1s;

	display: flex;
	justify-content: center;
	align-items: center;
}
.container .top #counter .dayCount {
	position: absolute;
	max-height: 205px;
	height: 40vmin;
	max-width: 205px;
	width: 40vmin;
	background: #fff;
	border-radius: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.container .top #counter .line1,
.container .top #counter .line2 {
	font-size: 100%;
	font-weight: 400;
}
.container .top #counter .line1 {
	color: #f3aee9;
	font-size: 0.95em;
	font-weight: 400;
}
.container .top #counter .line2 {
	color: #cf82e9;
	font-size: 0.95em;
	font-weight: 400;
}
.container .top #counter counter {
	color: #3b3b3b;
	font-size: 1.4em;
	font-weight: 600;
}
.container .top #calender {
	position: relative;
	cursor: url("/cursor/link.cur"), auto;
	transition: transform 0.5s, opacity 0.3s;
}
.container .top #calender.hide {
	position: absolute;
	opacity: 0;
	transform: translateX(70vw);
}
.container .top #calender .date {
	font-family: typewriter;

	display: flex;
	justify-content: center;
	align-content: center;
}
.container .top #calender .date .y,
.container .top #calender .date .m,
.container .top #calender .date .w,
.container .top #calender .date .d {
	width: 20vmin;
	max-width: 80px;
	height: 20vmin;
	max-height: 80px;
	background: #d293f1;
	border-radius: 1.35em;
	margin: 6px;
	font-weight: 600;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.container .top #calender .date .year,
.container .top #calender .date .month,
.container .top #calender .date .week,
.container .top #calender .date .day {
	background: #fff;
	color: #d293f1;
	border-radius: 50px;
	font-family: manh;
	font-size: 0.85em;
	height: 3.3ex;
	margin: 3px 0px 0px 0px;

	display: flex;
	justify-content: center;
	align-items: center;
}
.container .top #calender .start {
	position: absolute;
	left: 0px;
	margin: 3px 0px 0px 6px;
	background: #0000002a;
	border: #00000001 solid 3px;
	border-radius: 5px;
	color: #ffffff;
	font-size: 90%;
	font-family: typewriter;
	font-style: italic;
	font-weight: 600;
}
.container .top #calender .time {
	left: 0px;
	font-weight: 650;
	color: #f39fd8;
	margin: 3px 6px 0px 0px;

	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.container .top #calender .time .clock {
	width: 3.35ex;
	height: 3.35ex;
	background: #f39fd8;
	border: #f39fd8 solid 3px;
	border-radius: 100%;
	color: #ffffff;
	font-size: 0.9em;
	font-family: typewriter;
	font-weight: 600;

	display: flex;
	justify-content: center;
	align-items: center;
}
.container .bottom {
	position: relative;
	height: 45vh;
	overflow: hidden;

	display: flex;
	justify-content: center;
	align-items: flex-end;
}
.container .bottom .main {
	position: relative;
	padding: 0 0 2.5vmin 0;

	display: flex;
	align-items: center;
	justify-content: center;
}
.container .bottom .center {
	position: relative;
	width: 9vw;
	max-width: 130px;
	min-width: 65px;
	margin: 1vw;

	display: flex;
	justify-content: center;
	align-items: center;
}
.container .bottom .center .heartcenter {
	color: #fd2828;
	font-size: 12vmin;
	margin: 0px 29px;
}
.container .bottom .main .main1,
.container .bottom .main .main2 {
	width: 38vmin;
	max-width: 150px;
	color: #3b3b3b;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-self: flex-start;
	align-items: center;
	text-align: center;
}
.container .bottom .main .avt {
	width: 20vmin;
	max-width: 95px;
	border-radius: 100%;
}
.container .bottom .main .i4 {
	width: 40vw;
	margin: 2vmin 1.5vmin 0 1.5vmin;

	display: flex;
	align-items: center;
	justify-content: center;
}
.container .bottom .main .i4 #cung1,
.container .bottom .main .i4 #cung2 {
	background: #c48fea;
	color: #fffefe;
	border-radius: 50px;
	font-size: 0.9em;

	display: flex;
	align-items: center;
	justify-content: center;
}
@media screen and (max-width: 370px) {
	.container .bottom .main .i4 #cung1,
	.container .bottom .main .i4 #cung2 {
		font-size: 0.7em;
	}
	.container .bottom .main .i4 .sex1,
	.container .bottom .main .i4 .sex2 {
		font-size: 0.7em;
		height: 1.2em;
	}
	.container .bottom .main .i4 .nam,
	.container .bottom .main .i4 .nu {
		font-size: 0.7em;
	}
}
.container .bottom .main .i4 .sex1,
.container .bottom .main .i4 .sex2 {
	color: #fffefe;
	border-radius: 50px;
	font-size: 0.9em;

	display: flex;
	align-items: center;
	justify-content: center;
}
.container .bottom .main .i4 .sex1 {
	background: #5cd1ff;
}
.container .bottom .main .i4 .sex2 {
	background: #fe76a8;
}
.container .bottom .main .name {
	font-size: 1.17em;
	width: 40vw;
	margin: 0.5vmin 1vmin 0 1vmin;
}
.container .bottom .main .sn1,
.container .bottom .main .sn2 {
	font-family: typewriter;
	font-weight: 600;
	font-style: italic;
	font-size: 1em;
}
@font-face {
	font-family: typewriter;
	src: url(../fonts/Underwood319.ttf);
}
@font-face {
	font-family: manh;
	src: url(../fonts/font1.otf);
}
