::-webkit-scrollbar {
	width: 0 !important;
	display: none;
}
* {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
body {
	background: url(../images/bg.jpg);
	background-position: center;
	font-family: manh;
	color: #f5f5f5;
	margin: 0;
}
wave {
	background: url(../svg/wave.svg);
	background-position: left;
	position: absolute;
	height: 300px;
	width: 100vw;
	bottom: 0px;
	animation: wave 60s linear 0s infinite alternate-reverse none;
}
@keyframes wave {
	0% {
		background-position: left;
	}
	100% {
		background-position: right;
	}
}
.container {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	margin: 0;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	text-align: center;
}
.container .top {
	position: relative;
	background: transparent;
	height: 55%;
	width: 100%;
	max-width: 500px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.container .top .bg {
	content: "";
	position: absolute;
	max-height: 290px;
	height: 57vw;
	max-width: 290px;
	width: 57vw;
	background: #fff;
	border-radius: 100%;
	transition: 0.5s;

	display: flex;
	justify-content: center;
	align-items: center;
}
.container .top .bg .bgprocess {
	position: absolute;
	max-height: 263px;
	height: 52vw;
	max-width: 263px;
	width: 52vw;
	background: #dd9bfa;
	border-radius: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
}
.container .top .bg .bgprocess #process {
	position: absolute;
	max-height: 290px;
	height: 57vw;
	max-width: 290px;
	width: 57vw;
	background: conic-gradient(transparent 3.6deg, #fff 0deg);
	border-radius: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
}
.container .top .dayCount {
	position: absolute;
	max-height: 225px;
	height: 46vw;
	max-width: 225px;
	width: 46vw;
	background: #fff;
	border-radius: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.container .top .line1,
.container .top .line2 {
	font-size: 100%;
	font-weight: 450;
}
.container .top .line1 {
	color: #f3aee9;
}
.container .top .line2 {
	color: #cf82e9;
}
.container .top counter {
	color: #3b3b3b;
	font-size: 150%;
	font-weight: bold;
}
.container .top .calender {
	position: absolute;

	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-end;
	transition: 0.5s;
}
.container .top .calender .date {
	display: flex;
	justify-content: center;
	align-content: center;
}
.container .top .calender .date #year,
.container .top .calender .date #month,
.container .top .calender .date #week,
.container .top .calender .date #day {
	width: 20vw;
	max-width: 80px;
	height: 20vw;
	max-height: 80px;
	background: #fca7b5;
	border-radius: 20px;
	margin: 6px;
	font-weight: 600;

	display: flex;
	justify-content: center;
	align-items: center;
}
.container .top .calender #clock {
	margin: 2px 6px 6px 6px;
	font-weight: 650;

	display: flex;
}
.container .top .calender #clock .clock {
	background: #fca7b5;
	border-radius: 8px;
	margin: 0px 2.5px 0px 2.5px;
	border: #fca7b5 solid 2px;
	font-family: typewriter;
	font-weight: 600;
}
.container .top .calender #clock .clock br {
	font-family: manh;
}
.container .bottom {
	position: relative;
	height: 45%;
	width: 100%;

	display: flex;
	justify-content: center;
	align-items: flex-start;
}
.container .bottom .main {
	position: relative;
	margin: 30px;

	display: flex;
	align-items: center;
	justify-content: center;
}
.container .bottom .heartcenter {
	color: #ff0000;
	font-size: 300%;
	margin: 0px 29px;
}
.container .bottom #start {
	color: #ff0000;
	font-family: typewriter;
	font-weight: 600;
}
.container .bottom .main .main1,
.container .bottom .main .main2 {
	width: 30vw;
	max-width: 150px;
	color: #3b3b3b;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-self: flex-start;
	align-items: center;
}
.container .bottom .main .avt {
	width: 20vw;
	max-width: 100px;
	border-radius: 100%;
}
.container .bottom .main .name {
	font-size: 130%;
}
.container .bottom .main .sn {
	font-family: typewriter;
	font-weight: 600;
}

.hide {
	transform: translateY(-1000px);
}

@font-face {
	font-family: typewriter;
	src: url(../fonts/Underwood319.ttf);
}
@font-face {
	font-family: manh;
	src: url(../fonts/font1.otf);
}
